#storm_page {
    background-image: url(../media/storm.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "inter";
    height: 100%;
}

#beach_page {
    background-image: url(../media/beach.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "inter";
}

#rain_page {
    background-image: url(../media/rain.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "inter";
}


#credits {
    background-color: rgb(215, 227, 255);
    font-family: "inter";
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.selected {
    background-color: white;
    color: black;
}

.content {
    background-color: rgba(0, 0, 0, 0.476);
    border-radius: 8px;
    width: fit-content;
    margin: 0;
    text-align: center;
}

.show {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin: 90px;
}

.main{
    display: flex;
    justify-content: center;
   text-align: center;
   margin: 20px 0;
}


.settings {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    width: 100%;
}

.credits {
    margin: 30px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 0 20px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: white;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    border: solid 1px white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 20px;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}

#go_home {
    color: black;
    text-decoration: underline;
}

#storm_info, #beach_info, #rain_info {
    display: none;
}

.skip {
    position: relative;
    top: -65px;
    background-color: white;
    color: black;
}

.skip:focus {
    position: relative;
    top: 30px;
    background-color: white;
    color: black;
}

#go_home {
    color: white;
    background-color: black;
    text-decoration: none;
    border: solid 1px black;
    padding: 10px 20px;
    border-radius: 20px;
}

#go_home:hover {
    text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
    #storm_page {
        background-image: url(../media/storm_still.png);
    }
    #beach_page {
        background-image: url(../media/beach_still.png);
    }
    #rain_page {
        background-image: url(../media/rain_still.png);
    }
    .stop {
        display: none;
    }
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .settings {
        display: flex;
        flex-direction: column;
        flex: 0;
    }
    .credits {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    a {
        margin: 10px;
    }

    button {
        margin: 10px;
    }
}